body{
   margin: 0 0 1em 0;
   font-family: sans-serif,arial,helvetica;
   background-color: #ffffff;
   color: #000000;
   font-size: 95%;
}

div.head{
   text-align: center;
   margin: 0px 0px 20px 0px;
   padding: 8px 0px 8px 0px;
   background-color: #003366;
   font-weight: bold;
   color: #ffffff;
   font-size: 130%;
}

.image{
   margin:15px;
}

p{
   margin: 10px 40px 10px 40px;
}

hr{
   width: 95%;
   height: 1px;
}

address{
   margin: 1em;
}

img{
   border-width: 0px;
   margin: 0 4px 0 0;	
}

pre{
   font-family: monospace;
   margin: 1.5em;
}

h2{
   font-size: 130%;
   margin: 1em 0 0.5em 1em;
}

a:link {
   color:#EE7700;
}

a:active {
   color:#EE7700;
   text-decoration:underline;
}

a:visited {
   color:#EE7700;
   text-decoration:underline;
}

a:hover {
   background-color:#999999;
   color:#FFFFFF;
}